@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@font-face {
	font-family: 'Lasiver';
	src: url('../fonts/type_dynamic_-_lasiver-webfont..eot'); /* IE9 Compat Modes */
 	src:url('../fonts/type_dynamic_-_lasiver-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    	url('../fonts/type_dynamic_-_lasiver-webfont.woff') format('woff'), /* Pretty Modern Browsers */
    	url('../fonts/type_dynamic_-_lasiver-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
}

body {
	font-family: "Lasiver", san-serif;
}


h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
	color: $gray-darker;
}

hr{
    border: 0;
    height: 1px;
	margin-top: 75px;
	margin-bottom: 75px;
	@include gradient-horizontal-three-colors($start-color: rgba(214, 214, 214, 0), $mid-color: rgba(214, 214, 214, 1), $color-stop: 50%, $end-color: rgba(214, 214, 214, 0));
}

a {
  color: $link-color;
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

ul {
	padding-left: 30px;
	li {
		list-style: square;
		line-height: 3em;
	}
}

.btn {
	text-decoration: none;
}

.uppercase {
	text-transform: uppercase;
}

.wrap[role=document] {
	> .content {
		margin-top: 25px;
	}
}

.page-header {
	border: 0 none;
}

#crumbs {
	.home {
		background: url(../images/crumbs_home.png) center center no-repeat;
		width: 24px;
		height: 24px;
		display: inline-block;
		margin-right: 5px;
		text-indent: -5000em;
	}
}

.google-maps {
   position: relative;
   padding-bottom: 75%; // This is the aspect ratio
   height: 0;
   overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}