header.banner {
	background: $header-footer-background;
	color: $header-footer-color;
	text-align: center;
	// @media (min-width: $screen-sm-min) {
	// 	height: 278px;
	// }
	// @media (min-width: $screen-md-min) {
	// 	height: 278px;
	// }
	@media (min-width: $screen-md-min) {
		height: 300px;
	}

	a {
		color: #fff;
		text-decoration: none;

		&:hover,
		&:focus {
			color: #fff;
		}
	}
	.brand {
		display: block;
		background: url(../images/logo.png) center center no-repeat;
		background-size: contain;
		max-width: 506px; 
		height: 65px;
		margin: 43px auto 43px;
		text-indent: -5000em;
		outline: none;
		@media (min-width: $screen-md-min) {
			margin: 83px auto 43px;
		}
	}

	.navbar-center {
		width: 100%;
		text-align: center;
		float: none;
		padding: 0;
		margin: 7px auto;
		li {
			float: none;
			display: block;
			margin: 0 auto;
			@media (min-width: $screen-sm-min) {
				display: inline-block;
			}
		}
	}

	.navbar-header {
	  	@include clearfix;
	  	text-align: center;
		@media (min-width: $grid-float-breakpoint) {
			float: none;
		}

		.navbar-toggle {
			.icon-bar {
				background: white;
			}
			position: relative;
			float: none;
			margin: $navbar-padding-horizontal;
			padding: 9px 10px;
			@include navbar-vertical-align(34px);
			background-color: transparent;
			background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
			border: 1px solid transparent;
			border-radius: $border-radius-base;

			// We remove the `outline` here, but later compensate by attaching `:hover`
			// styles to `:focus`.
			&:focus {
			outline: 0;
			}
		}
	}

	.navbar-nav {
		border: 0 none;
		li {
			margin: 0 5px;
			&.current-menu-item {
				background: #7E1222;
			}
			a {
				padding: 9px 15px 11px;
				
				&:hover,
				&:focus {
					background: #7E1222;
				}
			}
		}
	}

}

#crumbs {
	.current {
		background-color: #7E1226;
		color: #fff;
		padding: 5px 10px;
	}
}