.page {
	.page-header {
		* {
			text-align:  center;
		}
	}
	&.page-template-page-with-sidebar {
		.page-header {
			* {
				text-align: left;
			}
		}
	}
}

.widget {
	h3 {
		@extend .h4;
	}
}

#clients {
	@extend .row;
	.client {
		img {
			width: 100%;
			height: auto;
			// border-bottom: 1px solid #ccc;
			// padding-bottom: 15px;
			// margin-bottom: 5px;
		}
		.client-title {
			@extend .h4;
			color: #5A5A5A;
		}
		.client-description {

		}
	}
}

.latest-articles {
	.article {
		margin-bottom: 25px;
		img.wp-post-image {
			width: 100%;
			height: auto;
		}
		.h4 {
			margin-bottom: 4px;
		}
		time {
			font-size: small;
		}
		p {
			margin-top: 15px;
		}
		a, .link-read-more {
			text-transform: uppercase;
			background: url(../images/read_more_arrow.png) center right no-repeat;
			height: 38px;
			padding-right: 40px;
			vertical-align: middle;
			display: block;
			line-height: 2.3;
			width: 150px;
			text-decoration: none;
			color: $brand-primary;
		}
	}
}

#employees {
	-webkit-column-count: 1;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 1;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 1;
	column-gap: 15px;
	column-fill: auto;
	@media (min-width: $screen-sm-min) {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;

	}
	@media (min-width: $screen-lg-min) {
			-webkit-column-count: 3;
			-moz-column-count: 3;
			column-count: 3;
	}
	.employee {
		display: inline-block;
		margin: 0 2px 15px;
		-webkit-column-break-inside: avoid;
		-moz-column-break-inside: avoid;
		column-break-inside: avoid;
		padding: 15px;
		padding-bottom: 5px;
		// background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
		opacity: 1;
		
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
		img {
			width: 100%;
			height: auto;
			// border-bottom: 1px solid #ccc;
			// padding-bottom: 15px;
			// margin-bottom: 5px;
		}
		h3 {
			// margin-top: 30px;
			padding: 0 20px;
			color: $brand-primary;
		}
		> div {
			padding: 0 20px;
		
			&.email {
				color: #7A826D;
			}

			&.employee-description {
				margin-top: 15px;
			}
		}
	}
}


.home {
	.wp-post-image {
		width: 	100%;
		height: auto;
		margin-bottom: 30px;
	}
}

.secondary-content {
	background: #F0F1F3;
	padding-top: 120px;
	padding-bottom: 120px;
}

.featured-post {
	display: table;
	.link-read-more {
		text-transform: uppercase;
		background: url(../images/read_more_arrow.png) center right no-repeat;
		height: 38px;
		padding-right: 40px;
		vertical-align: middle;
		display: block;
		line-height: 2.3;
		width: 150px;
		text-decoration: none;
		color: $brand-primary;
		margin-top: 50px;
		margin-bottom: 0;
	}
	img {
		width: 100%;
		height: auto;
	}
	.wp-post-image-container {
		background: #F0F1F3;
		padding: 0;
	}
	.post-info {
		> div {

		// @include vertical-align();
		}
		// display: table-cell; vertical-align: middle;
	}
}

// .vertically-centered-container {
//     display:block;
// 	.vertically-centered {
//     	display:table-cell;
//     	vertical-align:middle;   
// 	}
// }
form {
	@extend .row;
	.gform_body {
		@extend .col-sm-8;
		.gfield {
			margin: 0;
			padding: 0;
			list-style: none;
			@extend .form-group;
			@extend .row;
			.gfield_label {
				@extend .col-sm-1;
				@extend .hide;
				.gfield_required {
					color: red;
				}
			}
			.ginput_container {
				@extend .col-sm-11;
				input[type="text"], input[type="email" textarea {
					@extend .form-control;
				}
			}
		}
	}

	.gform_footer {
		@extend .col-sm-4;
		.button{
			@extend .btn;
			@extend .btn-primary;
		}
	} 
}
