.blog, .archive {
	article {
		padding: 23px 19px;
		border: $blog-article-border;
		margin-bottom: 20px;
		.entry-title {
			margin: 18px 0;
			padding: 0;
			@extend .h4;
			a {
				color: $entry-title-color;
				text-decoration: none;
			}
		}
		time.updated {
			color: #d9d9d9;
		}
		.view-more {
			color: $brand-primary;
			text-decoration: none;
		}
	}
	.nav-links {
		display: none;
		margin-top: 40px;
		margin-bottom: 40px;
		@extend .clearfix;
		.nav-previous,.nav-next {
			a  {
				@extend .btn;
				@extend .btn-primary;
			}
		}
		.nav-previous {
			@extend .pull-left;
		}
		.nav-next {
			@extend .pull-right;
		}
	}
}



.single {
	.entry-content {
			padding-top: 25px;
	}
	
}

.blog, .single, .page-template-page-with-sidebar, .archive {
	.main {
		-webkit-border-image: -webkit-linear-gradient(rgba(214, 214, 214, 0), rgba(214, 214, 214, 1) 50%, rgba(214, 214, 214, 0));
		-o-border-image: -o-linear-gradient(rgba(214, 214, 214, 0), rgba(214, 214, 214, 1) 50%, rgba(214, 214, 214, 0));
		-moz-border-image: -moz-linear-gradient(rgba(214, 214, 214, 0), rgba(214, 214, 214, 1) 50%, rgba(214, 214, 214, 0));
		border-image: linear-gradient(rgba(214, 214, 214, 0), rgba(214, 214, 214, 1) 50%, rgba(214, 214, 214, 0));
		border-image-slice: 1;
		border-right: solid 1px rgba(214, 214, 214, 1);
		border-left: 0 none;
		border-top: 0 none;
		border-bottom: 0 none;
		
		ul li {
			list-style-type: inherit;
		}
	}
}
