.sidebar {
	padding-top: 60px;
	.widget-nav-menu {
		li {
			line-height: 2em;
		}
		a:hover {
			color: #7E1226;
		}
		.current-menu-item a {
			color: #7E1226;
			text-decoration: none;
		}
		.current-menu-item {
			ul li a {
				color: #7F828B;
				&:hover {
					color: #7F828B;
				}
			}
		}
	}
}